@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

html, body {
  margin:0;
  height: 100%;
}

body {
  background-color: #4a4a4a;
}

.pair-button, .title-bar {
  background: linear-gradient(to right top, #4f6e6a, #d9f8fd)
}

.sidebar {
  height: 100%;
  width: 55px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;

}

.alert-list {
  overflow: scroll;
  height: 100vh;
}
