@charset "utf-8";
// import the two below to work with bulmas initial variables and functions
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

//import the bottom to alter the $colors map
@import "../../node_modules/bulma/sass/utilities/derived-variables";

@import "../../node_modules/bulma/bulma.sass";

html, body {
  margin:0;
}

body {
  background-color: #4a4a4a;
}


.title-bar {
  background: linear-gradient(to right top, #4f6e6a, #d9f8fd);
  z-index: 2;
}

.sidebar {
  height: 100vh;
  width: 55px;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.tab-bar {
  z-index: 1 ;
  bottom: 0;
  width: 100vw;
  position: fixed;
}

.alert-list {
  overflow: scroll;
  height: 100vh;
  z-index: 1;
}

.asset-alerts-list{
  overflow: scroll;
  height: 100vh;
}

.alert {
  border-color: hsl(141, 71%, 48%);
}
